/*------------------------------------------------
                    GERAL
------------------------------------------------*/

html
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.390625vw);
}

a
{
    text-decoration: none;
    color: white;
}


/*------------------------------------------------
                    TOPO
------------------------------------------------*/

header
{
    background-color: #3B8686;
    padding: 1vw 5vw 1vw 5vw;
}

header nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul
{
    display: flex;
}

header nav li
{
    margin: 0 1vw 0 1vw;
}

header nav li a.menu-atual
{
    background: rgba(255, 255, 255, 0.1);
    padding: 3px 25px 3px 25px;
    border-radius: 20px;
}

/*------------------------------------------------
                CONTEÚDO - BANNER
------------------------------------------------*/

section.banner
{
    padding: 20vw  10vw 5vw 10vw;
    background: linear-gradient(rgba(121, 189, 154, 0.2), rgba(121, 189, 154, 0.2)), url(../scr/back-banner.png) no-repeat center center;
    background-size: cover;
}

section.banner h2
{
    font-size: 2rem ;
    color: white;
    background: rgba(59, 134, 134, 0.5) ;
    width: 25%;
    padding: 10px 20px 10px 20px;
}

/*------------------------------------------------
                CONTEÚDO - SERVICOS 
------------------------------------------------*/

section.servicos
{
    padding: 5vw 10vw 5vw 10vw;
}

section.servicos ul
{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

section.servicos ul li
{
    width: 25%;
}

section.servicos ul li span
{
    color: #3B8686;
    font-size: 4rem;
}

section.servicos ul li h3
{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2vw 0 2vw 0;
}

section.servicos ul li p
{
    color: #747474;
}

section.servicos ul li button
{
    background-color: #3B8686;
    padding: 10px 20px 10px 20px;
    color: white;
    border: none;
    margin: 1vw 0 0 0;
}

/*------------------------------------------------
                CONTEÚDO - NUMEROS
------------------------------------------------*/

section.numeros
{
    padding: 6vw  10vw 3vw 10vw;
    background: linear-gradient(rgba(121, 189, 154, 0.5), rgba(121, 189, 154, 0.5)), url(../scr/back-numeros.png) no-repeat center center;
    background-size: cover;
}

section.numeros ul
{
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: white;
}

section.numeros ul li span
{
    font-size: 4rem;
    margin: 3px 0 0 0;
}

section.numeros ul li h3
{
    font-size: 2rem;
    margin: 3px 0 0 0;
}

section.numeros ul li p
{
    font-size: 2rem;
    margin: 3px 0 0 0;
}

/*------------------------------------------------
                   CONTEÚDO - PRINT
------------------------------------------------*/

section.print
{
    padding: 5vw  8vw 5vw 8vw;
    display: flex;
    justify-content: space-between;
}

section.print div.texto h4
{
    font-size: 2.25rem;
    color: #0B486B;
}

section.print div.texto p.text
{
    width: 58%;
    color: #747474;
    margin: 2vw 0 0 0;
}

section.print div.texto p button
{
    border: none;
    background-color: #0B486B;
    color: white;
    padding: 10px 20px 10px 20px;
    margin: 2vw 0 0 0;
}

/*------------------------------------------------
                   RODAPÉ
------------------------------------------------*/

footer
{
    background-color: #3B8686;
    padding: 2vw 10vw 2vw 10vw;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer div.icones ul
{
    display: flex;
}

footer div.icones ul li span
{
    margin: 30px 8px 1.5vw 8px;
    font-size: 2rem;
}

footer div.contato p.contato
{
    font-weight: 700;
    margin: 30px 0 0 0;
}

footer div.contato ul li
{
    display: flex;
}

footer div.contato ul li span
{
    margin: 8px 8px 8px 0;
}

footer div.contato ul li p
{
    margin: 8px 8px 8px 0;
}

footer div.nav
{
    text-align: right;
}

footer div.nav ul li
{
    margin: 0 8px 16px 8px;
}