/*----------------------------------------
                  GERAL
----------------------------------------*/

html 
{
	font-size: calc(15px + 0.390625vw);
}

body 
{
	font-family: "Playwrite DE Grund", cursive;
}

a
{
    text-decoration: none;
    color: black;
}

/*----------------------------------------
                  TOPO
----------------------------------------*/

/*----------------------------------------
            CONTEÚDO -
----------------------------------------*/

/*----------------------------------------
            CONTEÚDO - 
----------------------------------------*/

/*----------------------------------------
            CONTEÚDO -
----------------------------------------*/

/*----------------------------------------
            CONTEÚDO -
----------------------------------------*/

/*----------------------------------------
                  FOOTER
----------------------------------------*/