/*====================================================
           				Fonte 
====================================================*/

/*====================================================
   	http://meyerweb.com/eric/tools/css/reset/ 
   	v2.0 | 20110126
   	License: none (public domain)
====================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*====================================================
	  HTML5 display-role reset for older browsers
====================================================*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}

body 
{
	line-height: 1;
}

ol, ul 
{
	list-style: none;
}

blockquote, q 
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}

/*====================================================
           				GERAL
====================================================*/

html {
	font-size: calc(15px + 0.390625vw);
    margin: 2vw;
}

body {
	font-family: "Playwrite DE Grund", cursive;
}

main {
	margin: 0 16.8vw 0 16.8vw;
}

a {
	text-decoration: none;
	color: black;
}

/*====================================================
           				TOPO
====================================================*/

header div
{
    display: flex;
}

header div p
{
    margin: 0 65vw 0 0;
    font-weight: bold;
}

header div p span
{
    background: black;
	color: white;
	border-radius: 10vw;
	padding: 5px 12px 5px 12px;
}

header div nav ul
{
    display: flex;
}

header div nav ul li
{
    padding: 0 5vw 0 0;
}

header div nav ul li a
{
    color: #553C16;
}

/*====================================================
	  				Conteúdo - Home
====================================================*/
section.banner
{
	border-bottom: 1px solid #525252;
	padding: 0 0 10vw 0;
}

section.banner div
{
    display: flex;
	margin: 5vw 0 0 0;
}

section.banner div img
{
	margin: 0 10vw 0 0;
	border-radius: 200px;
}

section.banner div ul li h1
{
	font-size: 4vw;
	border-bottom: 1px solid #DEDEDE;
	padding: 0 0 4vw 0;
}

section.banner div ul li p.sita
{
	color: #404852;
	margin: 3vw 0 0 0;
}

section.banner div ul li.samantha div
{
	display: flex;
	padding: 0 0 0 0;
}

section.banner div ul li.samantha div img
{
	border-radius: 50%;
	margin: 0 2vw 0 0;
}

section.banner div ul li.samantha div ul li p.loja
{
	color: #84898f;
}

section.browse
{
	margin: 5vw 0 0 0;
	border-bottom: 1px solid #525252;
}

section.browse div
{
	display: flex;
}

section.browse div ul li h1
{
	font-size: 4.5vw;
}

section.browse div ul li p
{
	color: #404852;
	margin: 3vw 0 0 0;
}

section.browse div ul ul
{
	display: flex;
	padding: 0 15vw 0 0; 
}

section.browse div ul ul.primeira li
{
	padding: 1vw 2.5vw 4vw 0;
	border-bottom: 1px solid #DEDEDE;
}

section.browse div ul ul li
{
	padding: 4vw 2.5vw 4vw 0;
	border-bottom: 1px solid #DEDEDE;
}

section.browse div ul ul:last-child li:last-child
{
	padding: 4vw 2.5vw 4vw 0;
}

section.browse div ul ul li h2
{
	font-size: 3vw;
}

section.browse div ul ul li p
{
	color: #868686;
	font-size: 1.5vw;
}

section.browse div ul ul li p span
{
	color: #868686;
	font-size: 2.5vw;
}


/*====================================================
				Conteúdo - 
====================================================*/

/*====================================================
		  				Rodapé
====================================================*/

footer{
	text-align: center;
	margin: 6.1vw 0 4.9vw 0;
	padding: 3vw 0 3vw;
}

footer ul{
	display: flex;
	justify-content: center;
}

footer ul li{
	margin: 10px 9px 10px 9px;
	font-size: 2rem;
}